<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <title>Document</title>
</head>
<body>

        <div class="div_img__login">
          <img class="div_img__registrer" th:src="@{/img/inicioimg/registervector.svg}" alt="">
        </div>
        <div class="form">
          <div th:if="${param.error}" class="alert alert-danger">The user or email already exists</div>
            <form class="needs-validation" novalidate th:action="@{/signup}" th:object="${newUser}" method="post">
                <div class="row mb-3">
                  <div class="form-group col">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Enter a username" th:field="*{username}" required>
                  </div>
                  <div class="form-group col">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" th:field="*{password}" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-group col">
                    <label for="inputFirstName">First name</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="E.g. Michael" th:field="*{firstName}" required>
                  </div>
                  <div class="form-group col">
                    <label for="inputLastName">Last name</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="E.g. Jordan" th:field="*{lastName}" required>
                  </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-md-8">
                      <label for="inputEmail">Email</label>
                      <input type="text" class="form-control" id="inputEmail" placeholder="E.g. example@domain.com" th:field="*{email}" required>
                    </div>
                </div>
                  <!--<div class="form-group col-md-4">
                    <label for="inputState">Rol</label>
                    <select id="inputState" class="form-control">
                      <option selected>Choose your rol</option>
                      <option>Student</option>
                      <option>Teacher</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      I'm not a bot 
                    </label>
                  </div>
                </div>-->
                <div class="form__buttoms">
                  <button type="submit" class=" btm--color">Sign in</button>
                  <button type="reset" class=" btm--color">Reset</button>
                </div>
                
              </form>
        </div>
   
        <ul class="cuadrados">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <div th:replace="fragments/scripts :: links"></div>
</body>
</html>