<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head('Teacher Register')"></div>

<body>
    <main class="container-fluid" style="height: 100vh; background-color: #5B3E8E">
        <div class="row h-100 align-items-center">
            <div class="col-4"></div>
            <div class="col-4 bg-light px-4 py-2 rounded">
                <form class="needs-validation" novalidate th:action="@{/teacher-register}" th:object="${newTeacher}" method="post">
                    <div class="row mb-3 text-center">
                        <h1 class="mb-0">Teacher Register</h1>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-8">
                            <label for="inputUsername">Ocupation</label>
                            <input type="text" class="form-control" id="inputUsername" placeholder="Enter a occupation" th:field="*{occupation}" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-8">
                            <label for="inputUsername">Career</label>
                            <input type="text" class="form-control" id="inputUsername" placeholder="Enter a career" th:field="*{career}" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col">
                            <label for="inputUsername">Description</label>
                            <textarea class="form-control" id="description" rows="3" placeholder="Enter a description" th:field="*{description}"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <div class="col" style="text-align: right;">
                            <button class="btn btn-secondary px-4 me-2" type="button" onclick="javascript:history.back()">Cancel</button>
                            <button class="btn btn-moderne-primary px-4" type="submit">Accept</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </main>

    <div th:replace="fragments/scripts :: links"></div>
</body>

</html>