<nav th:fragment = "navbar" class="shadow navbar navbar-expand-lg navbar-dark bg-dark div-primary">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
            <img th:src="@{/img/logo-svg.svg}" alt="" width="40" class="" />
            <span class="h5 p-2 m-0">ModernEducation</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container-fluid" style="max-width: 800px;">
                <form sec:authorize="isAuthenticated()" th:action="@{/search/results}" class="d-md-flex needs-validation" th:object="${courseSearch}" method="get" novalidate>
                    <input th:disabled="${!#authentication.getPrincipal().hasStudent()}" class="form-control me-2" type="search" th:field="*{name}" placeholder="Find your courses" aria-label="Search" required>
                    <button th:disabled="${!#authentication.getPrincipal().hasStudent()}"  class="btn btn-successSearch" type="submit" >Search</button>
                </form>
            </div>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item mx-2 my-auto">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">
                        Home
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_TEACHER')" class="nav-item mx-2 my-auto">
                    <a class="nav-link active" aria-current="page" th:href="@{/courses}">
                        Courses
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_STUDENT')" class="nav-item mx-2 my-auto">
                    <a class="nav-link active" aria-current="page" th:href="@{/student/courses}">
                        My Courses
                    </a>
                </li>

                <li class="nav-item">

                    <a class="nav-link active" aria-current="page" th:href="@{/assistances}">
                        Videoconference </a>

                <li sec:authorize="isAuthenticated()" class="nav-item mx-2 my-auto">
                    <a class="nav-link active position-relative" aria-current="page" th:href="@{/videoconferences}">
                        Videoconference <span class="position-absolute translate-middle badge rounded-pill bg-warning" style="left: 100px; top: 5px;">Premium <span class="visually-hidden">unread messages</span></span>

                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_STUDENT')" class="nav-item mx-2 my-auto">
                    <a class="nav-link active" aria-current="page" th:href="@{/change-to-teacher}">
                        Teach with Us
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_TEACHER')" class="nav-item mx-2 my-auto">
                    <a class="nav-link active align-middle" aria-current="page" th:href="@{/change-to-student}">
                        <span>Star Learning</span>
                    </a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item mx-2 my-auto">
                    <a class="nav-link btn btn-outline-dark px-3 py-1" th:href="@{/signup}">Sign up</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item mx-2 my-auto">
                    <a class="nav-link btn btn-primary text-light px-4 py-1" th:href="@{/login}">Log in</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item dropdown mx-1">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{|/img/profile_image/${#authentication.getPrincipal().getProfileImage()}|}" alt="" class="image-profile me-1" /> 
                        <span sec:authentication="name">Profile</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end"
                        aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item">
                                <div class="card-text text-truncate" style="max-width: 150px;">
                                    <img th:src="@{|/img/profile_image/${#authentication.getPrincipal().getProfileImage()}|}" alt="" class="image-profile me-1" />
                                    <span th:text="@{|${#authentication.getPrincipal().getFullName()}|}">Profile</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="#">Edit profile</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Account security</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>