<nav th:fragment = "navbar" class="shadow navbar navbar-expand-lg navbar-dark bg-dark div-primary">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
            <img th:src="@{/img/logo-svg.svg}" alt="" width="40" class="" />
            <span class="h5 p-2 m-0">ModernEducation</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container-fluid">
                <form th:action="@{/search/results}" class="d-md-flex needs-validation" th:object="${courseSearch}" method="get" novalidate>
                    <input class="form-control me-2" type="search" th:field="*{name}" placeholder="Find your courses" aria-label="Search" required>
                    <button class="btn btn-successSearch" type="submit">Search</button>
                </form>
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mx-1">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">
                        Home
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link active" aria-current="page" th:href="@{/courses}">
                        Courses
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link active" aria-current="page" th:href="@{/student/courses}">
                        My Courses
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/videoconferences}">
                        Videoconference
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link active" aria-current="page" href="#">
                        Teach
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link active" aria-current="page" href="#">
                        Learn
                    </a>
                </li>
                <li class="nav-item dropdown mx-1">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        join
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end"
                        aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" th:href="@{/login}">Log in</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/sign-up}">Sign up</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown mx-1">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end"
                        aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Edit profile</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Account security</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>