@charset "ISO-8859-1";
.card-transform:hover{
     transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.divider {
margin: 25px auto 30px;
padding: 0;
border: 0;
border-top: solid 1px;
text-align: center;
}
.divider:before{
	border-top: 1px #dee2e6;
}

.frosted-glass{
  backdrop-filter: blur(10px);
}

.checked {
  color: orange;
}

.image-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;
}
.image-profile-user {
 width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: auto;
  
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  right: 0;
  left: auto;
}

.rol-hover{
  background-color: #5B3E8E !important;
}

.rol-hover:hover {
  background-color: #246a73 !important;
}